<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.10.1" targetFramework="net45" />
  <package id="GitSharp" version="0.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="Tamir.SharpSSH" version="1.1.1.13" targetFramework="net45" />
  <package id="Winterdom.IO.FileMap" version="2.0.2.0" targetFramework="net45" />
</packages>